@using System.Net.Mime
@using Microsoft.Ajax.Utilities
@using Lab2_TwentyOne.Models;

@{
    ViewBag.Title = "Game";
}

@{ 
    <form action="" method="POST">
        <p>Current Number is: @TwentyOneModel.CurrentNumber</p>
        <p>
            <input type="radio" id="radio1" name="choice" value="1" />
            <label>1</label>
        </p>
        <p>
            <input type="radio" id="radio2" name="choice" value="2" />
            <label>2</label>
         </p>
        <p>
            <input type="submit" value="choose" />
        </p>
        <h3>@ViewBag.result</h3>
    </form>
}